[Unit]
Description=rpi-spotify-matrix-display

[Service]
WorkingDirectory=__WORKING_DIR__
ExecStart=__WORKING_DIR__/.venv/bin/python3 __WORKING_DIR__/main.py

[Install]
WantedBy=default.target